@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kalnia+Glaze:wght@100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./images/bg.webp);
    font-family: "Inconsolata", monospace;
}
.header{
    background: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    height: 40px;
    padding-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}
.header h2{
    font-weight: bold;
    color:rgb(2, 254, 233);
    font-size: 36px;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 5rem;
}
.game{
    width: 560px;
    height: 560px;
    border: 1px solid rgb(2, 254, 233);
    background: rgba(45, 43, 43, 0.837);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.game img{
    width: 70px;
    height: 70px;
}
.score-board{
    position: absolute;
    top: 0;
    margin-top: 5rem;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(2, 254, 233);
    padding: 0 1rem;
    border-radius: 10px;
    background: rgb(45, 43, 43);
}

@media (max-width:650px){
    .game{
        width: 320px;
        height: 320px;
    }
    .game img{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 420px){
    .game{
        width: 280px;
        height: 280px;
        padding: .5rem;
    }
    .game img{
        width: 35px;
        height: 35px;
    }
}
